@model IEnumerable<FinalProject.Models.Project>

@{
    ViewData["Title"] = "TypeProjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Projects</h1>

<table class="table">
    @foreach (var item in Model)
    {
        <table style="padding: 1em; font-family: Tahoma; font-size: 1.2em;">
            <tr>
                <th align="left">
                    Project name
                </th>
                <td style="padding-left: 1.5em;">
                    @Html.DisplayFor(modelItem => item.name)
                </td>
            </tr>
            <tr>
                <th align="left">
                    Year
                </th>
                <td style="padding-left: 1.5em;">
                    @Html.DisplayFor(modelItem => item.year)
                </td>
            </tr>
            <tr>
                <th align="left">
                    Description
                </th>
                <td style="padding-left: 1.5em;">
                    @Html.DisplayFor(modelItem => item.description)
                </td>
            </tr>
            <tr>
                <th align="left">
                    Technologies
                </th>
                <td style="padding-left: 1.5em;">
                    @Html.DisplayFor(modelItem => item.technologies)
                </td>
            </tr>
            @*<tr>
                <th align="left">
                    Project type
                </th>
                <td style="padding-left: 1.5em;">
                    @Html.DisplayFor(modelItem => item.projectType)
                </td>
            </tr>*@
        </table>
     }
</table>
<div style="padding-top: 1em;">
    <a asp-action="education">Back</a>
</div>
